In [1]:
from header import *

In [145]:
def cal_WE_size_data(df_basic_info,df_work_experience):
    
    
    size_level_map={"少于50人":1,"50-150人":2,"150-500人":3,"500-1000人":4,"1000-5000人":5," 5000-10000人":6,"10000人以上":7}
    df_work_experience["company_size"]=df_work_experience["company_size"].apply(lambda x:x.strip() if not pd.isna(x) else x )
    df_work_experience["size_level"]=df_work_experience["company_size"].map(size_level_map)
    df_work_experience=df_work_experience.replace({"end_time":{"至今":"2022/7"}})
    df_work_experience["begin_time"]=pd.to_datetime(df_work_experience["begin_time"])
    df_work_experience["end_time"]=pd.to_datetime(df_work_experience["end_time"])
   
    #最近一次工作的公司规模
    tmp_df=df_work_experience.groupby("id").apply(lambda x:x["size_level"].to_list()[0]).to_frame()
    tmp_df.columns=["WE_size_01"]
    df_basic_info=pd.merge(df_basic_info,tmp_df,how="left",on="id")
    
    df_basic_info=df_basic_info.set_index("id")
    for x in df_work_experience.groupby("id"):
        tmp_1x=x[1]["size_level"][x[1]["end_time"]>pd.to_datetime("2021/7")]
        tmp_2x=x[1]["size_level"][x[1]["end_time"]>pd.to_datetime("2020/7")]
        tmp_3x=x[1]["size_level"][x[1]["end_time"]>pd.to_datetime("2019/7")]
        tmp_4x=x[1]["size_level"][x[1]["end_time"]>pd.to_datetime("2018/7")]
        tmp_5x=x[1]["size_level"][x[1]["end_time"]>pd.to_datetime("2017/7")]
        
        if len(tmp_1x[~tmp_1x.isna()])>0:
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y1_size_MAX_02"]=max(tmp_1x[~tmp_1x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y1_size_MIN_03"]=min(tmp_1x[~tmp_1x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y1_size_MOD_04"]=tmp_1x[~tmp_1x.isna()].mode()[0]
            
        if len(tmp_2x[~tmp_2x.isna()])>0:
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y2_size_MAX_05"]=max(tmp_2x[~tmp_2x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y2_size_MIN_06"]=min(tmp_2x[~tmp_2x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y2_size_MOD_07"]=tmp_2x[~tmp_2x.isna()].mode()[0]
            
        if len(tmp_3x[~tmp_3x.isna()])>0:
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y3_size_MAX_08"]=max(tmp_3x[~tmp_3x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y3_size_MIN_09"]=min(tmp_3x[~tmp_3x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y3_size_MOD_10"]=tmp_3x[~tmp_3x.isna()].mode()[0]
            
        if len(tmp_4x[~tmp_4x.isna()])>0:
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y4_size_MAX_11"]=max(tmp_4x[~tmp_4x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y4_size_MIN_12"]=min(tmp_4x[~tmp_4x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y4_size_MOD_13"]=tmp_4x[~tmp_4x.isna()].mode()[0]
            
        if len(tmp_5x[~tmp_5x.isna()])>0:
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y5_size_MAX_14"]=max(tmp_5x[~tmp_5x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y5_size_MIN_15"]=min(tmp_5x[~tmp_5x.isna()])
            df_basic_info.loc[x[1]["id"].unique()[0],"WE_Y5_size_MOD_16"]=tmp_5x[~tmp_5x.isna()].mode()[0]
    
    return df_basic_info.loc[:,"WE_size_01":].fillna(0)

In [147]:
if __name__=="__main__":
    df_basic_info=pd.read_excel("../../02-2@DATA/cv_basic_info_cleaned_IT.xlsx")
    df_work_experience=pd.read_excel("../../02-2@DATA/cv_work_experience_cleaned_IT.xlsx")

    result=cal_WE_size_data(df_basic_info,df_work_experience)
    writer=pd.ExcelWriter(output_path+"WE_size.xlsx",engine="openpyxl")
    result.to_excel(writer)
    writer.save()
    writer.close()
    print(result.describe())

       WE_size_01  WE_Y1_size_MAX_02  WE_Y1_size_MIN_03  WE_Y1_size_MOD_04  \
count  356.000000         356.000000         356.000000         356.000000
mean     1.320225           1.328652           1.261236           1.261236
std      1.790031           1.879877           1.803522           1.803522
min      0.000000           0.000000           0.000000           0.000000
25%      0.000000           0.000000           0.000000           0.000000
50%      1.000000           0.000000           0.000000           0.000000
75%      2.000000           2.000000           2.000000           2.000000
max      7.000000           7.000000           7.000000           7.000000

       WE_Y2_size_MAX_05  WE_Y2_size_MIN_06  WE_Y2_size_MOD_07  \
count         356.000000         356.000000         356.000000
mean            1.525281           1.334270           1.342697
std             2.010376           1.808604           1.817126
min             0.000000           0.000000           0.000000
25%             0.000000           0.000000           0.000000
50%             1.000000           1.000000           1.000000
75%             2.000000           2.000000           2.000000
max             7.000000           7.000000           7.000000

       WE_Y3_size_MAX_08  WE_Y3_size_MIN_09  WE_Y3_size_MOD_10  \
count         356.000000         356.000000         356.000000
mean            1.592697           1.266854           1.292135
std             2.050037           1.704715           1.724405
min             0.000000           0.000000           0.000000
25%             0.000000           0.000000           0.000000
50%             1.000000           1.000000           1.000000
75%             3.000000           2.000000           2.000000
max             7.000000           7.000000           7.000000

       WE_Y4_size_MAX_11  WE_Y4_size_MIN_12  WE_Y4_size_MOD_13  \
count         356.000000         356.000000         356.000000
mean            1.713483           1.292135           1.314607
std             2.132759           1.703036           1.722072
min             0.000000           0.000000           0.000000
25%             0.000000           0.000000           0.000000
50%             1.000000           1.000000           1.000000
75%             3.000000           2.000000           2.000000
max             7.000000           7.000000           7.000000

       WE_Y5_size_MAX_14  WE_Y5_size_MIN_15  WE_Y5_size_MOD_16
count         356.000000         356.000000         356.000000
mean            1.769663           1.269663           1.323034
std             2.181298           1.635962           1.696601
min             0.000000           0.000000           0.000000
25%             0.000000           0.000000           0.000000
50%             1.000000           1.000000           1.000000
75%             3.000000           2.000000           2.000000
max             7.000000           7.000000           7.000000

In [142]:
df=df.replace({"end_time":{"至今":"2022/7"}})
df["begin_time"]=pd.to_datetime(df["begin_time"])
df["end_time"]=pd.to_datetime(df["end_time"])
# print(max(df["company_size"]))

df["test"]=0
df.loc["IT-H00000001","test"]=[1,1,1,1]
df["test"]

id
IT-P00000001    0
IT-P00000001    0
IT-P00000001    0
IT-P00000001    0
IT-P00000002    0
               ..
IT-H00000052    0
IT-H00000053    0
IT-H00000053    0
IT-H00000054    0
IT-H00000054    0
Name: test, Length: 752, dtype: int64

In [56]:
max(np.nan,"dqw")

TypeError: '>' not supported between instances of 'str' and 'float'

In [110]:
df1=pd.DataFrame({"a":[1,2,3],"v":[5,6,7]})

In [111]:
df1=df1.set_index("a")

In [117]:
df1.loc[1,"d"]=1

In [129]:
pd.Series([1,1,2]).mode()[0]

1